.about-title {
    z-index: 10;
}

.about-hero-image-text {
    position: relative;
    padding: 0 15%;
}

.about-hero-image {
    position: absolute;
    top: -40%;
    left: 35%;
    transform: translate(-50%, -50%);
}

.about-hero-text {
    display: flex;
    justify-content: right;
    margin-top: 30px;
}

.about-hero-text p {
    width: 40%;
}

.about-description {
    margin: 20em 0 10em 0;
    padding: 0 20%;
}

.about-desc-text {
    text-align: center;
}
.about-desc-text span {
    font-style: italic;
    color: var(--esther-details);
    
    
}
.about-desc-text h2 {
    font-weight: 400;
    letter-spacing: -4px;
    line-height: 75px;
    font-family: "Cormorant", serif;
    

}