.about-title {
    z-index: 10;
}

.about-hero-image-text {
    position: relative;
    padding: 0 15%;
    margin-top: 4em;
}

.about-hero-image {
    position: absolute;
    top: -5%;
    left: 35%;
    transform: translate(-50%, -50%);
    object-fit: cover;  
}

.about-hero-image img {
    width: 100%;
    height: 100%;
    clip-path: polygon(50% 0, 50% 0, 50% 100%, 50% 100%);
    animation: slide 1.2s ease forwards 1.2s;
}

@keyframes slide {
    from {
        clip-path: polygon(50% 0, 50% 0, 50% 100%, 50% 100%);
    }
    to {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}

.about-hero-text {
    display: flex;
    justify-content: right;
    margin-top: 60px;
    opacity: 0;
    animation: appear .7s ease forwards 1.5s;
}

.about-hero-text p {
    width: 40%;
}

/* --------ABOUT DESCRIPTION SECTION-------- */
.about-description {
    margin: 20em 0 10em;
    width: 100%;
    position: relative;
    z-index: 10;
}

.about-desc-text {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 6;
    
}
.about-desc-text span {
    font-style: italic;
    color: var(--esther-details);
}

.about-desc-text h2 {
    font-weight: 300;
    letter-spacing: -4px;
    line-height: 75px;
    font-family: "Cormorant", serif;
    width: 70%;
}

.about-images {
    width: 300px;
    height: 200px;
    object-fit: cover;
    position: absolute;
    transform: translate(-50%, -50%);
    filter: grayscale(70%) sepia(70%);
    overflow: hidden;
}

.about-images img {
    width: 100%;
    height: 100%;
}

.music-image {
    top: 20%;
    left: 20%;
}
.anime-image {
    top: 50%;
    left: 70%;
}
.movies-image {
    top: 80%;
    left: 25%;
}

/* -------ABOUT ME SECTION------- */

.about-me-section {
    display: flex;
    align-items: center;
    gap: 7em;
    padding: 10%; 
}

.about-me-text {
    flex-basis: 60%;
}

.about-me-image {
    flex-basis: 40%;
    object-fit: cover;
}

.about-me-image img {
    width: 100%;
    height: 100%;
}

