/* ---------HERO INTRO SECTION---------- */
.home-hero {
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.home-title {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.home-title p {
    font-size: 4em;
}

.home-intro-below {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
}

.small-words {
    flex-basis: 60%;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    overflow: hidden;
}

.first-name, .last-name {
    overflow: hidden;
}

.last-name {
    flex-basis: 40%;
    text-align: right;
}

.small-words p {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
}

.bottom-hero {
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 7%;
    margin-top: 2em;
    min-height: 12em;
}

.hero-text-scroll {
    width: 40%;
    opacity: 0;
    animation: appear .7s ease forwards 1.5s;
}

.hero-text p {
    text-indent: 10%;
}

.hero-scroll {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 40px;
    border: 1px solid white;
    padding: 5px 20px;
    width: 80%;
    margin-top: 20px;
}

.hero-scroll p {
    text-transform: uppercase;
}

.get-in-touch {
    position: relative;
    align-self: flex-end;
    opacity: 0;
    animation: appear .7s ease forwards 1.8s;
}

.in-touch-text {
    z-index: 4;
}

.in-touch-text h3 {
    font-family: "Cormorant", serif;
    text-transform: uppercase;
    letter-spacing: -2px;
    font-weight: 100;
    font-style: italic;
    cursor: pointer;
}

.in-touch-text:hover + .in-touch-button {
    background-color: white;
    color: var(--esther-background);
}

.in-touch-button {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    position: absolute;
    top: 0%;
    left: 100%;
    transform: translate(-50%, -50%);
    transition: all .4s ease;
    z-index: -1;
}

.in-touch-button i {
    transform: rotate(135deg);
}

/* ----------HOME TRANSITION---------- */
/* ----HOME IMAGES---- */
.home-transition {
    padding: 15em 0;
    position: relative;
}

.home-images {
    display: flex;
    justify-content: center;
    position: relative;
}

.home-images .image-container {
    object-fit: cover;
    overflow: hidden;    
}

.home-images .image-container img {
    width: 100%;
    height: 100%;
}

.home-images .img-container2 {
    width: 40%;
    z-index: 5;
}

.home-about-images-container {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 90%;
    left: 27%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.home-about-image {
    width: 240px;
    object-fit: cover;
    margin-left: 5em;
    margin-top: 9em;
    
}

.home-about-image img {
    width: 100%;
    height: 100%;
    animation: spin 15s linear infinite;    
}

/* ----HOME ABOUT INFO---- */
.home-about {
    color: white;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 55em;
    display: flex;
    flex-direction: column;
    justify-content: end;
    z-index: 6;
}

.home-about-title {
    animation: reveal 3s ease forwards;
    opacity: 0;
}

@keyframes reveal {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.specialty-titles {
    display: flex;
    flex-wrap: nowrap;
    width: 200%;
}

.specialty-titles span {
    font-family: "Cormorant", serif;
    font-style: italic;
    font-weight: 400;
    font-size: 10em;
    line-height: .8em;
    letter-spacing: -6px;
}

.specialty-titles span:nth-child(even) {
    margin: 0 20px;
}

.home-about .specialty1 {
    margin-bottom: 2em;
    position: relative;
    z-index: -10;
}

/* .specialty2 {
    transform: translateX(-45%);
} */


/* 
.specialty-titles span:nth-child(2) {
    animation-delay: 3s;
}
.specialty-titles span:nth-child(3) {
    animation-delay: 6s;
}

@keyframes appear {
    0% {
        opacity: 1;
    }
    33.3333% {
        opacity: 0;
    }
    66.6666% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
} */


.home-about-text {
    margin-top: 9em;
    display: flex;
    /* justify-content: right; */
    margin-left: 8em;   
}

.home-about-text p {
    width: 55%;
    text-indent: 10%;
}

