.footer-intro-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 6em;
}

.footer-intro-text {
    margin-bottom: -20px;
}

.footer-intro-text h2 {
    font-size: 8rem;
    text-align: center;
    font-family: "Dialogist Personal Use", serif;
    font-weight: lighter;
    text-transform: uppercase;
}

.footer-intro-text h2:first-child {
    margin-bottom: -.4em
}

.footer-links {
    margin-bottom: 2em;
}

.footer-links ul {
    display: flex;
    justify-content: space-around;
}

.footer-links li {
    list-style-type: none;
    position: relative;
}

.footer-links a {
    color: var(--esther-text);
    text-decoration: none;
    font-weight: 500;
    letter-spacing: -1px;
    font-size: 17px;
}

.footer-links li::after {
    content: '';
    position: absolute;
    left: 0;
    top: 100%;
    width: 0%;
    height: 3px;
    background-color: white;
    transition: all .4s ease;
}

.footer-links li:hover::after {
    width: 100%;
}

.footer-copyright {
    text-align: center;
    border-top: 1px solid var(--esther-text);
    padding: 15px 0;
}

.footer-copyright p {
    font-size: 13px;
}