.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo span {
    font-size: 56px;
    font-family: "Garelina", serif;
    letter-spacing: -24.2px;
    transition: all .4s ease;
}

.nav-logo span:hover {
    letter-spacing: -7px;
}

.nav-bar ul {
    display: flex;
    gap: 25px;
    align-items: center;
}

.nav-bar li {
    list-style-type: none;
    font-size: 14px;
    letter-spacing: -1px;
    position: relative;
}

.nav-bar li::after {
    content: '';
    position: absolute;
    left: 0;
    top: 100%;
    width: 0%;
    height: 2px;
    background-color: var(--esther-button);
    transition: all .4s ease;
}

.nav-bar li:hover::after{
    width: 100%;    
}

#resume-button {
    padding: 7px 25px;
    border-radius: 50px;
    outline: none;
    background-color: transparent;
    border: 1px solid var(--esther-button);
    font-size: 13px;
    color: var(--esther-text);
    text-transform: uppercase;
    letter-spacing: -.5px;
}

#resume-button:hover {
    background-color: var(--esther-button);
    color: var(--esther-background);    
}

