.selected-contents {
    position: relative;
    width: 100vw;
    height: 100vh;
    padding: 20px 100px;
    display: flex;
    gap: 3em;
}

.selected-absolute-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 10;
    width: 100%;
}

.selected-title h2 {
    text-transform: uppercase;
    font-size: 15rem;
    font-family: "Dialogist Personal Use", serif;
    font-weight: lighter;
    /* font-style: italic; */
    line-height: .8em;
    letter-spacing: -10px;
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 1px;
}

.selected-desc {
    text-align: left;
    display: flex;
    justify-content: center;
    padding-left: 15%;
}

.selected-desc p {
    width: 30%;
}

.selected-image-count {
    flex-basis: 50%;
    position: relative;
    overflow: hidden;
}

.selected-count {
    position: absolute;
    top: 95%;
    left: 15%;
    transform: translate(-50%, -50%);
}

.selected-count p {
    color: var(--esther-button);
    font-size: 1.5em;
    font-weight: 500;
}

.selected-count span {
    font-size: 2em;
}

.selected-image-count img {
    width: 100%;
    height: 100%;
    filter: saturate(100%) sepia(50%) contrast(100%);
    transition: all .4s ease;
    cursor: pointer;
}

.selected-image-count:hover img {
    filter: none;
    transform: scale(1.05);
}

.selected-year-roles {
    flex-basis: 50%;
    align-self: flex-end;
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
    border-bottom: 1px solid var(--esther-text);
}

.selected-roles {
    display: flex;
    gap: 10px;
    align-items: center;
    text-align: center;
}

.selected-roles p {
    text-transform: capitalize;
    border: 1px solid var(--esther-button);
    padding: 2px 10px;
    border-radius: 30px;
    font-size: 14px;
}