.selected-projects-container {
    overflow-x: scroll;
    scroll-snap-stop: always;
}

.selected-projects-container::-webkit-scrollbar {
    height: 3px;
}

.selected-projects {
    display: flex;
    width: 400%;
    overflow: hidden;
}

.selected-contents {
    position: relative;
    width: 100vw;
    height: 100vh;
    padding: 20px 100px;
    display: flex;
    gap: 3em;
}

.selected-image-count {
    flex-basis: 50%;
    position: relative;
    overflow: hidden;
}

.selected-count {
    position: absolute;
    top: 95%;
    left: 15%;
    transform: translate(-50%, -50%);
}

.selected-count p {
    color: var(--esther-button);
    font-size: 1.5em;
    font-weight: 500;
}

.selected-count span {
    font-size: 2em;
}

.selected-image-count img {
    width: 100%;
    height: 100%;
    filter: saturate(100%) sepia(50%) contrast(100%);
    transition: all .4s ease;
    cursor: pointer;
}

.selected-image-count:hover img {
    filter: none;
    transform: scale(1.05);
}

.selected-absolute-title {
    z-index: 10;
    margin-top: auto;
}

.selected-title h2 {
    text-transform: capitalize;
    font-size: 5rem;
    font-family: "Cormorant", serif;
    font-weight: lighter;
    font-style: italic;
    line-height: .8em;
    letter-spacing: -5px;
}

.selected-desc {
    text-align: left;
    padding-left: 5%;
    margin-top: 20px;
}

.selected-desc p {
    width: 70%;
    text-indent: 10%;
}

.selected-right {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.selected-year-roles {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--esther-button);
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.selected-roles {
    display: flex;
    gap: 10px;
}

.selected-roles p {
    text-transform: capitalize;
    border: 1.5px solid white;
    padding: 2px 10px;
    border-radius: 40px;
    font-size: 13px;
}