:root {
    --esther-background: #D7D0C3;
    --esther-button: #FFFFFF;
    --esther-text: #515E3D;
    --esther-details: #AC4F29;
    --maple-background: #59210A;
    --maple-button: #D48D22;
    --maple-text: #FFE9BF;
    --maple-detail: #FCB62E;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    width: 100vw;
}

h1 {
    font-size: 21em;
    font-weight: lighter;
    letter-spacing: -4px;
}
h2 {
    font-size: 80px;
}
h3 {
    font-size: 40px;
}

p {
    font-size: 15px;
    letter-spacing: -.5px;
}

button {
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    transition: all .4s ease;
}


.container {
    color: var(--esther-text);
    background-color: var(--esther-background);
    position: relative;
    z-index: 0;
}

header {
    position: fixed;
    width: 100%;
    padding: 7px 50px;
    background-color: transparent;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-bottom: 1px solid var(--esther-text);
    z-index: 30;
}

.main-title {
    font-family: "Dialogist Personal Use", serif;
    text-transform: uppercase;
    margin-top: -20px;
}

.jasmine-fancy {
    font-style: italic;
    font-family: "Cormorant", serif;
    font-weight: 600;
    color: var(--esther-details);
    font-size: 16px;
}